@import "./variable.scss";
.top-active{
    width: 100%;
    position: relative;
    overflow: hidden;
    background: rgb(40, 163, 255) none repeat scroll 0% 0%;
    img{
        width: 1190px;
        height: 100px;
        margin: 0 auto;
    }
    a{
        position: absolute;
        top: 3px;
        right: 56px;
        width: 15px;
        height: 15px;
        overflow: hidden;
        background: url(../images/index/index.png) no-repeat -241px -145px;;
    }
    .btn-close:hover{
        background-position: -256px -145px;
    }
}
.nav-box{
    position: relative;
    width: 100%;
    border-bottom: 1px solid#eee;
    background:#f5f5f5;
    height: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .nav-pills{
        li{
           a{
            width: 65px;
            padding: 0;
            margin-left: 10px;
            color: $acolor;
           }
           ul{
               display: none;
               top:27px;
               z-index: 7691;
               border: 1px solid #eee;
           }
           .son-nav{
               width: 960px;
               position: absolute;
            //    display: none;
               background: rgb(255, 255, 255);
               li{
                   width: 170px;
                   float: left;
                   border-right: 1px solid #cccccc;
                   margin-top: 10px;
                   overflow: hidden;
                   &:last-child{
                       border: none;
                   }
                dd{
                    margin-left: 10px;
                    margin-bottom: 10px;
                }
                .list-box{
                    width: 100%;
                    margin-left: 10px;
                    overflow: hidden;
                    
                }
                
               }
               
               
           }
           .son-nav1{
            width: 162px;
            height: 100px;
            background: white;
            position: absolute;
           }
           .son-nav2{
               @extend .son-nav1;
           }
           .son-nav-close{
            .list{
                float: left;
                margin: 3px;
                margin-left: 0px;
            }
           }
        }
        .active{
            a{
                color: $acolor;
                background-color: white;
            }
        }
        .active:hover a{
            color: orangered;
        }
        li:hover a{
            color: orangered;
        }
        li:hover .son-nav a{
            color: $acolor;
        }
        li:hover .son-nav1 a{
            color: $acolor;
        }
        li .son-nav1 a:hover{
            color: red;
        }
        li .son-nav a:hover{
            color: red;
        }
    }
}
.header{
    height: 110px;
    position: relative;
    .header-nav{
        width: 1190px;
        height: 110px;
        margin: 0 auto;
        position: relative;
        .logo-set{
            position: absolute;
            top: 0;
            left: 0;
            img{
                width: 190px;
                height: 90px;
            }
        }
    }
    .header-search{
        position: absolute;
        height: 100px;
        width: 600px;
        top: 0;
        left: 300px;
        .col-lg-6{
            margin-top: 20px;
            .input-group{
                border: 2px solid #F90;
                width: 540px;
                background: white;
                .form-control{
                    outline: none;
                    border: none;
                }
                .input-group-btn{
                    color: white;
                    .btn-default{
                        width: 120px;
                        background: #F90;
                        color: white;
                        font-size: 17px;
                        font-weight: 600;
                    }
                }
                
            }
            }
            .hotworlds{
                width: 540px;
                height: 18px;
                margin-top: 5px;
                margin-left: 20px;
                overflow: hidden;
                a{
                    float: left;
                    white-space: nowrap;
                    font-size: 12px;
                    margin: 3px 0 3px -11px;
                    padding: 0 20px 0 10px;
                    border-left: 1px solid #ddd;
                    height: 12px;
                    line-height: 12px;
                    &:first-child{
                        border: none;
                    }
                }
        }
    }
}
.nav-bar{
    min-width: 1190px;
    // background: crimson;
    .nav-bar-header{
        width: 1190px;
        height: 38px;
        margin: 0 auto;
        // background:pink;
        position: relative;
       .all{
        position: absolute;
        display: block;
        width: 190px;
        padding-left: 27px;
        height: 38px;
        top: 0;
        line-height: 38px;
        background:#F90;
        color:#FFF !important;
        font-size: 13px;
        font-weight: bold;
        text-decoration: none;
        i{
            position: absolute;
            display: block;
            width: 12px;
            height: 12px;
            top: 14px;
            left: 9px;
            background: url("../images/index/index.png") 0 0;
        }
       }
       .index-list{
        position: absolute;
        top: 38px;
        left: 0;
        width: 190px;
        height: 482px;
        background: gray;
        .index-list-nav{
            position: absolute;
            left: 0;
            top: 1px;
            height: 480px;
            width: 190px;
            z-index: 7677;
            background: #252221;
            li{
                position: relative;
                width: 190px;
                height: 32px;
                padding: 0 8px 0 10px;
                a{
                    float: left;
                    margin-top: 9px;
                    margin-right: 10px;
                    padding-right: 2px;
                    vertical-align:middle;
                    color:#ddd;
                    font-size: 13px;
                    // background: red;
                    border-right: 1px solid #d8d8d8;
                    
                }
            }
            li:hover a{
                color: #252221;
            }
            li a:hover{
                color: #f60;
            }
            .current{
                background: white;
            }
        }
        .listbox{
            .index-list-box{
                width: 999px;
                top: 0;
                position: absolute;
                left: 190px;
                min-height: 480px;
                overflow: hidden;
                background: white;
                z-index: 7676;
                display: none;
                .sort-btn{
                    width: 686px;
                    float: left;
                    height: 24px;
                    margin: 10px 0 0 8px;
                    overflow: hidden;
                    a{
                        float: left;
                        height: 24px;
                        margin-left: 25px;
                        padding: 0 10px;
                        color:#FFF;
                        line-height: 24px;
                        text-align: center;
                        background:#F90;
                        text-decoration: none;
                        font-family: "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
                    }
                }
                .cate-list{
                    width: 780px;
                    margin: 6px 0 0 0;
                    padding-left: 20px;
                    overflow: hidden;
                    float: left;
                    // background: yellow;
                    dl{
                        width: 750px;
                        float: left;
                        height: auto;
                        overflow: hidden;
                        // background: skyblue;
                        margin-bottom: 0;
                        dt{
                            float: left;
                            width: 84px;
                            height: 20px;
                            font-weight: 700;
                            padding-left: 10px;
                            padding-top: 2px;
                        }
                        dd{
                            width: 650px;
                            float: left;
                            font: 12px/1.5 arial,tahoma,宋体;
                            line-height: 20px;
                            overflow: hidden;
                            border-bottom: 1px solid#eee;
                            margin-top: 8px;
                            padding-bottom: 8px;
                            a{
                                margin-right: 15px;
                                float: left;
                                &:first-child{
                                    color:  #f60;
                                }
                            }
                            
                        }
                    }
                    }
                }
                .imgbox{
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 199px;
                    height: 100%;
                    overflow: hidden;
                    background:#f3f3f3;
                    .imglist{
                        width: 182px;
                        margin: 10px 0 0 8px;
                        // background: slateblue;
                        a{
                            float: left;
                            width: 90px;
                            height: 38px;
                            margin: 0 1px 1px 0;
                            padding-top: 7px;
                            background:#FFF;
                            img{
                                width: 80px;
                                height: 30px;
                                margin: 0 auto;
                            }
                        }
                    }
                }
        }
        }
        .ng-index{
            position: absolute;
            left: 50%;
            padding-left: 10px;
            margin-left: -405px;
            height: 38px;
            line-height: 38px;
            overflow: hidden;
            z-index: 7669;

            .ng-nav{
                li{
                    position: relative;
                    height: 38px;
                    font-weight: bold;
                    float: left;
                    padding: 0 12px 0 13px;
                    a{
                      color: rgb(51, 51, 51);
                    }
                    span{
                        position: absolute;
                        width: 25px;
                        height: 8px;
                        bottom: -8px;
                        left: 50%;
                        margin-left: -12px;
                        background: url('../images/index/index.png') -37px 0;
                        transition: all .5s;
                    }
                    }
                    li:hover span{
                        bottom: 0;
                    }
                    li:hover a{
                        color: #F90;
                    }
                }
            }
        
       }
    
    a:hover{
        text-decoration: none;
    }
}
.banner{
    position: relative;
    width: 100%;
    height: 482px;
    overflow: hidden;
    .fw-bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 482px;
        overflow: hidden;
        img{
            position: absolute;
            width: 545px;
            height: 482px;
            left: 50%;
            top: 0;
        }
        .fw-bg-left{
            margin-left: -950px;
        }
        .fw-bg-right{
            margin-left: 410px;
        }
    }
    .banner-wrapper{
            width: 830px;
            height: 482px;
            overflow: hidden;
       .swiper-wrapper{
            
        .swiper-slide{
           
            img{
                width: 830px;
                height: 482px;
            }
        }
       } 
       .swiper-pagination{
           margin-bottom: 130px;
        .swiper-pagination-bullet{
            width: 20px;
            height: 20px
        }
       }
       .btn{
           color: rgba(0,0,0,0.5);
           display: none;
           transition: all 0.2s;
       }
       
    }
    .banner-wrapper:hover .btn{
        display: block;
    }
    .first-right{
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: 415px;
        width: 170px;
        height: 482px;
        background:#FFF;
        border-radius: 4px;
        overflow: hidden;
        .user-info{
            position: relative;
            width: 170px;
            height: 170px;
            padding: 11px 0 2px;
            border-bottom: 1px solid#f2f2f2;
            position: relative;
            .user-img{
                position: relative;
                width: 52px;
                height: 52px;
                margin: 0 auto;
                background: url("../images/index/index.png") -93px -23px;
                .hover{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 52px;
                    height: 52px;
                    background: url("../images/index/index.png") -310px -135px;
                }
            }
            .infor{
                width: 150px;
                height: 24px;
                margin: 8px auto 0;
                text-align: center;
                font: 12px/24px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .btn{
                width: 100%;
                margin: 6px auto 15px;
                height: 22px;
                overflow: hidden;
                text-align: center;
                display: flex;
                .registr{
                    width: 68px;
                    height: 20px;
                    border: 1px solid#F90;
                    color:#ffa114;
                    line-height: 20px;
                    margin-top: -6px;
                }
                .supery{
                    width: 70px;
                    height: 22px;
                    line-height: 22px;
                    vertical-align: middle;
                    margin: -7px 3px;
                    background: url("../images/index/index.png") -295px -251px;
                }
            }
            .enter{
                display: flex;
                height: 18px;
                a{
                    width: 70px;
                    height: 18px;
                    margin: 0 11px 0 9px;
                    border-radius: 9px; 
                    background: url("../images/index/index.png") -670px -256px;
                }
                .quan{
                    background: url("../images/index/index.png") -670px -288px;
                }
            }
        }
        .toutiao-box{
            width: 150px;
            height: 145px;
            overflow: hidden;
            margin: 11px 10px 11px;
            font: 12px/20px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
            position: relative;
           .swiper-container{
               height: 130px;
            .swiper-wrapper{
                display: flex;
                height: 140px;
                flex-direction: column;
                .swiper-slide{
                    width: 150px;
                    height: 110px;
                    p{
                        width: 150px;
                        height: 126px;
                        overflow: hidden;
                        a{
                            margin-top: 10px;
                            text-decoration: none;
                        }
                        i{
                            margin-right: 5px;
                            color:
                            #F60; 
                        }
                    }
                }
            }
           }
        }
        .kuaijie{
            width: 170px;
            height: 145px;
            overflow: hidden;
            border-top: 1px solid#f2f2f2;
            ul{
                width: 171px;
                height: 146px;
                li{
                    float: left;
                    width: 56px;
                    height: 72px;
                    border-width: 0 1px 1px 0;
                    border-style: solid;
                    border-color:#f2f2f2;
                    a{
                        width: 100%;
                        height: 62px;
                        padding-top: 10px;
                        text-align: center;
                        text-decoration: none;
                        i{
                            font-size: 24px;
                            color:#f90;
                            font-family: "iconfont" !important;
                            font-style: normal;
                        }
                    }
                }
            }
        }
    }
    .first-hc{
        position: absolute;
        bottom: 8px;
        left: 50%;
        margin-left: -404px;
        width: 816px;
        height: 122px;
        overflow: hidden;
        // background: olive;
        z-index: 666;
        .first-cover{
            position: absolute;
            top: 0;
            left: 2px;
            width: 100%;
            height: 122px;
            background:#fff;
            opacity: .5;
        }
        .four-hc{
            position: absolute;
            top: 0;
            left: 0;
            width: 816px;
            height: 122px;
            li{
                float: left;
                position: relative;
                width: 202px;
                height: 122px;
                background:#FFF;
                margin-left: 2px;
                opacity: .96;
                cursor: default;
                // background: indigo;
                .title{
                    position: relative;
                    z-index: 1;
                    width: 95px;
                    height: 22px;
                    line-height: 22px;
                    font-weight: bold;
                    font-size: 17px;
                    overflow: hidden;
                    word-break: break-all;
                    margin: 10px 0 0 12px;
                }
                .desc{
                    position: relative;
                     z-index: 1;
                    width: 95px;
                    height: 19px;
                    height: 19px;
                    font-size: 14px;
                    overflow: hidden;
                    word-break: break-all;
                    color:#666;
                    margin: 1px 0 0 12px;
                }
                img{
                    right: 10px;
                }
                .img-pro{
                    position: absolute;
                    bottom: 6px;
                    width: 80px;
                    height: 80px;
                }
            }
        }
    }    
}
.ti-floor{
    position: relative;
    width: 100%;
    height: 374px;
    overflow: hidden;
    .ti-bg{
        width: 1920px;
        margin-left: -960px;
        position: absolute;
        left: 50%;
        top: 0;
    }
    .title-img{
        img{
            width: 1190px;
            height: 150px;
            margin: 0 auto;
            position: relative;
        }
    }
    .hclist{
        width: 1190px;
        margin: 0 auto;
        .hclist-box{
            width: 1200px;
            margin-left: -10px;
            position: relative;
            overflow: hidden;
            li{
                width: 230px;
                height: 213px;
                margin: 0 0 10px 10px;
                position: relative;
                float: left;
                // background: lawngreen;
                a{
                    text-decoration: none;
                }
                .click-area{
                    position: relative;
                    overflow: hidden;
                    .title{
                        font-size: 20px;
                        line-height: 28px;
                        width: 210px;
                        height: 28px;
                        margin: 145px auto 6px;
                        text-align: center;
                        overflow: hidden;
                    }
                    .desc{
                        width: 200px;
                        height: 22px;
                        margin-top: 6px;
                        line-height: 22px;
                        font-size: 16px;
                        text-align: center;
                        margin-left: 18px;
                    }
                    
                }
                .img-wrapper{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 130px;
                    img{
                        width: 120px;
                        height: 120px;
                        margin: 10px auto 0;
                    }
                }
            }
        }
    }
}
.new-first{
    width: 1190px;
    height: 427px;
    background: pink;
    margin: 10px auto;
}