.bannerbox{
    margin-top: 40px;
    height: 500px;
    .bnner-img{
        width: 100%;
        height: 80px;
        margin: auto;
        .img-top{
                width: 100%;
                height: 100%;
            img{
                width: 100%;
                height: 100%;
            }
        }
        }
        .gg{
            width: 100%;
            height: 500px;
            img{
                height: 100%;
                width: 100%;
            }
        }
    }
.pic{
    background: #0186ed;;
    margin-top: 71px;
    .pic-floor{
        width: 990px;
        margin: 0 auto;
        padding: 9px 0;
        overflow: hidden;
        a{
            height: 80px;
            width: 100%;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .shoplist{
        position: relative;
        width: 1000px;
        padding-top: 9px;
        margin: 0 auto;
        background: rgb(238, 144, 144);
        overflow: hidden;
        .comm-item{
            width: 243px;
            height: 368px;
            margin-right: 6px;
            margin-bottom: 9px;
            position: relative;
            float: left;
            transition: all .3s ease;
            background:#fff;
            a{
                width: 100%;
                height: 100%;
                position: relative;
                text-decoration: none;
                img{
                    width: 243px;
                    height: 243px; 
                }
                .name {
                    width: 211px;
                    height: 32px;
                    text-align: left;
                    color: 
                    #333;
                    font: 14px/16px "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
                    margin-top: 16px;
                    padding-left: 15px;
                    overflow: hidden;
                }
                .desc {
                    float: left;
                    width: 211px;
                    height: 12px;
                    color: 
                    #f00000;
                    font: 12px/12px "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
                    overflow: hidden;
                    padding-left: 15px;
                    margin: 6px 0;
                }
                .price {
                    position: absolute;
                    left: 15px;
                    bottom: 6px;
                    color: #f00000;
                    font: 18px/18px "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
                }
            }
            .car {
                position: absolute;
                width: 40px;
                height: 40px;
                right: 14px;
                bottom: 14px;
                background: url('../images/public/car.png') no-repeat;
                }
        }
        
        .comm-item:hover{
            transform: translateY(-5px);
        }
    }
    .pagi{
        margin-top: 20px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        a,.active{
            border-radius: 38px;
            color: #333;
        }
    }
}