*{
    margin: 0;
    padding: 0;
}
body{
   
}
img{
    display: block;
}
h1,h2,h3,h4,h5,h6 {
    font-weight:normal;
}
a{
    text-decoration: none;
    display: block;
    font-size: 12px;
}
li{
    list-style: none;
}
@font-face {
    font-family: 'iconfont';
    src: url('../lib/iconfont/iconfont.eot');
    src: url('../lib/iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../lib/iconfont/iconfont.woff2') format('woff2'),
        url('../lib/iconfont/iconfont.woff') format('woff'),
        url('../lib/iconfont/iconfont.ttf') format('truetype'),
        url('../lib/iconfont/iconfont.svg#iconfont') format('svg');
  }
  